body {
    margin: 0px;
    background-color: #e6e6e6;
} 
#logo {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #f4b5f1;
    border-bottom: 5px solid #f5c5f3;
}
.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#abo_btn {
    text-align: center;
    color: green;
    padding-top: 15px;
    padding-left: 20px;
}
#ill_btn {
    text-align: center;
    padding-top: 15px;
    
}
#pho_btn {
    text-align: center;
    padding-top: 15px;
}
#con_btn {
    text-align: center;
    padding-top: 15px;
    padding-right: 20px;
}
.aboutmetext {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
.aboutmetext  p{
    font-family: 'Architects Daughter', cursive;
    font-size: 1.3em;
    text-align: center;
    grid-column: 2;
}