body {
    margin: 0px;
    width: auto;
    background-color: #e6e6e6;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.3em;
} 
#logo {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #f4b5f1;
    border-bottom: 5px solid #f5c5f3;
}
.links {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 15px;
}
.placement {
    text-align: center;
}
.aboutmetext {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
h1 {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
.aboutmetext  p{
    text-align: center;
    grid-column: 2;
}
#illustration {
    text-align: center;
}
.dumbdiv {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.dumbdiv p {
    grid-column: 2;
}
#illthreegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#illfourgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#photography {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#photography h1 {
    text-align: center;
    grid-column: 2;
}
#photography p {
    text-align: center;
    grid-column: 2;
}
#photography a {
    font-weight: bold;
    color: #f4b5f1;
}
#illustration a {
    font-weight: bold;
    color: #f4b5f1;
}
#contact {
    text-align: center;
    color: black;
}
.abotext {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.abotext p {
    grid-column: 2;
}
#contactbuttons {
    text-align: center;
}
#botmargin {
    padding-left: 10px;
    height: 15px;
    background-color: #f4b5f1;
    border-top: 5px solid #f5c5f3;
}

